# Python / Virtual Environments
.venv/
.venv-1/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Temporary downloads and cached instaloader files
instadown_*
*.mp4
*.jpg
*.jpeg
*.png
*.json

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
